<ul class="index-table">
  {%- for post in posts %}
  <li>
    <a class="index-row" href="{{ post.url }}">
      <span class="index-num">{{ post.data.num }}</span>
      <span class="index-title">{{ post.data.title }}</span>
      <span class="index-cat">{% if post.data.categories.length %}{{ post.data.categories[0] | categoryLabel }}{% endif %}</span>
      <time class="index-date" datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
    </a>
  </li>
  {%- endfor %}
</ul>
