---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}/</link>
    <description>{{ site.description }}</description>
    <language>en</language>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
    {%- for post in collections.published | limit(25) %}
    {%- set link = post.data.external or (post.url | absoluteUrl(site.url)) %}
    <item>
      <title>{{ post.data.seoTitle or post.data.title }}</title>
      <link>{{ link }}</link>
      <guid isPermaLink="{% if post.data.external %}false{% else %}true{% endif %}">{{ link }}</guid>
      <pubDate>{{ post.date | rssDate }}</pubDate>
      {%- if post.data.description %}
      <description>{{ post.data.description }}</description>
      {%- else %}
      <description>{{ post.templateContent | excerpt }}</description>
      {%- endif %}
      <content:encoded><![CDATA[{{ post.templateContent | safe }}]]></content:encoded>
    </item>
    {%- endfor %}
  </channel>
</rss>
